@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@font-face {
    font-family: 'FuturaPT';
    src: url('/assets/fonts/Futura_PT/FuturaCyrillicBold.ttf') format('truetype'); 
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('/assets/fonts/Futura_PT/FuturaCyrillicDemi.ttf') format('truetype'); 
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('/assets/fonts/Futura_PT/FuturaCyrillicBook.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}
